@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="ui vertical menu">
    <a class="@ManageNavPages.IndexNavClass(ViewContext) item" id="profile" asp-page="./Index">Profile</a>
    <a class="@ManageNavPages.EmailNavClass(ViewContext) item" id="email" asp-page="./Email">Email</a>
    <a class="@ManageNavPages.ChangePasswordNavClass(ViewContext) item" id="change-password" asp-page="./ChangePassword">Password</a>
    @if (hasExternalLogins)
    {
        <a class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) item" id="external-login" asp-page="./ExternalLogins">External logins</a>
    }
    <a class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) item" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    <a class="@ManageNavPages.PersonalDataNavClass(ViewContext) item" id="personal-data" asp-page="./PersonalData">Personal data</a>
</div>
