@using BitBracket.ViewModels
@model UserViewModel
<!DOCTYPE html>
@{
    ViewData["Title"] = "Welcome to your Profile Page";
}

<body class="announcement-background">
    <div class="section-gap"></div>
    <div class="ui container">

            <h1 class="title-styling">Welcome, @User.Identity.Name</h1>
            <p class="text-styling">Thank you for choosing BitBracket. We hope to provide a great experience.</p>
            
            <div class="ui raised segment">
                <div class="ui grid">
                    <div class="four wide column">
                        <img id="profileImage" src="@Model.ProfilePictureUrl" alt="Profile Picture Not Working" style="max-width: 100%; max-height: 300px;">
                        <div class="header">Click the image to change your profile image!</div>
                    </div>
                    <div class="twelve wide column">
                <h2 class="column center aligned">User Profile</h2>
                <div class="ui list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Username</div>
                            <div>@Model.Username</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Email</div>
                            <div>@Model.Email</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Tag (click to change the tag)</div>
                            <div id="tagId">@Model.Tag</div>
                            <button id="saveTagButtonId">Save Tag Changes</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Bio (click to change the bio)</div>
                            <div id="bioId">@Model.Bio</div>
                            <button id="saveBioButtonId">Save Bio Changes</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</body>
@section Scripts {
    <script src="~/js/profilepage.js"></script>
}