@using BitBracket.ViewModels
@model UserViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="announcement-background">
    <div class="ui container">
        <h1 class="title-styling">
            Welcome, @Model.Username, to your profile page!
            <button id="myBtn">i</button>

        </h1>
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Welcome to your very own profile page! On this page you can change a few things regarding your profile such as your tag,</p>
                <p>bio, and profile picture. Feel free to explore and customize your profile to make it truly yours.</p>
                <p>From this page, you can also navigate to your announcements and tournaments you are registered for!</p>
            </div>
        </div>
     
        <p class="text-styling">Thank you for choosing BitBracket. We hope to provide a great experience.</p>

        <div class="ui very padded segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="image">
                        <img id="profileImage" src="@Model.ProfilePictureUrl" alt="Profile Picture" class="ui medium rounded image">
                        <input type="file" id="profileImageInput" style="display: none;" accept="image/*">
                        <a class="ui teal ribbon label clickable">Profile Picture</a>
                    </div>
                    <div class="content">
                        <a class="header">@Model.Username</a>
                        <div class="meta">
                            <span>@Model.Email</span>
                        </div>
                        <div class="description">
                            <p><strong>Tag:</strong> <div id="tagId" class="ui label">@Model.Tag</div></p>
                            <p><strong>Bio:</strong> <div id="bioId" class="ui small fluid input">@Model.Bio</div></p>
                        </div>
                        <div class="extra">
                            <button id="saveTagButtonId" class="ui small primary button">Save Tag</button>
                            <button id="saveBioButtonId" class="ui small secondary button">Save Bio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="@Url.Action("ManageAnnouncement", "Home")" class="ui button secondary">Manage Announcements</a>
    <a href="@Url.Action("TournamentImIn", "Home")" class="ui button secondary">View Registered Tournament</a>
    <a class="ui button secondary">View Friends</a>

    <button class="ui button secondary" id="show-blocked-users">Show Blocked Users</button>
    <div class="ui very padded segment divided items" id="show-blocked-container" style="display: none;">
        <h3>Blocked Users</h3>
        <div id="blocked-users-list"></div>
    </div>
    <script src="~/js/profilepage.js"></script>
    <script src="~/js/modalswitcher.js"></script>

</body>
</html>
