@using BitBracket.ViewModels
@model UserViewModel
<!DOCTYPE html>
<html lang="en">
<body class="announcement-background">
    <div class="ui container">
        <h1 class="title-styling">Welcome to @Model.Username's profile page!</h1>

        <div class="ui very padded segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="image">
                        <img id="profileImage" src="@Model.ProfilePictureUrl" alt="Profile Picture" class="ui medium rounded image" />
                    
                    </div>
                    <div class="content">
                        <a class="header">@Model.Username</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="ui button" id="friend-button"></button>
                            <div id="hiddenElement" style="visibility: hidden;">@Model.ProfileID</div>
                        }


                        <div class="meta">
                            <span>@Model.Email</span>
                            <p><strong>Tag:</strong> <div id="tagId" class="ui label">@Model.Tag</div></p>
                            <p><strong>Bio:</strong> <div id="bioId" class="ui small fluid input">@Model.Bio</div></p>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/UsersPage.js" ></script>

</body>
