@using BitBracket.ViewModels
@model TournamentViewModel
<!DOCTYPE html>
<html lang="en">
<body class="announcement-background">
    <div class="ui container">
        <h1 class="title-styling">Tournament: @Model.Name </h1>

    </div>

    <div class="ui very padded segment">
        <div class="ui divided items">
            <div class="item">
                
                <div class="content">
                    <a class="header"> Owner:  @Model.Owner</a>

                    <div class="meta">
                        <p><strong>Location:</strong> <div id="bioId" class="ui small fluid input">@Model.Location</div></p>
                        <p><strong>Status:</strong> <div id="bioId" class="ui small fluid input">@Model.Status</div></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row p-1">
                <div class="col-1">User</div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-5">
                    <input type="text" id="userInput" value="@Model.CurrentUserName" readonly />
                </div>

            }
            else
            {
                <div class="col-5" id="userInput"><input type="text" id="userInput" disabled />Sign in to message</div>
            }

            </div>
            <div class="row p-1">
                <div class="col-1">Message</div>
                <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <input type="button" id="sendButton" value="Send Message" />
                    }
                    else
                    {
                        <input type="button" id="sendButton" value="Send Message" disabled />
                    }
                </div>

            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <p>Message Board</p>
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
                <div id="messagesDiv"></div>
            </div>
        </div>
    <script src="~/js/signlar/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</body>