@{
    ViewData["Title"] = "My Announcements";
}
<body class="announcement-background"></body>
<h1 class="title-styling">@ViewData["Title"]</h1>

<div class="section-gap"></div>
@if (User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("UserAnnouncementCreate", "Home")" class="ui button primary">Create User Announcement</a>
}
<a href="@Url.Action("AnnouncementCreate", "Home")" class="ui button primary">Create an admin Announcement</a>
<a href="@Url.Action("optInConfirmation", "Home")" class="ui button secondary">OptIn/Out</a>

<div class="section-gap"></div>

@Html.Partial("~/Views/Announcements/_UserAnnouncementForm.cshtml")

@section Scripts {
    <script src="~/js/userAnnouncementForm.js"></script>
}
