@{
    ViewData["Title"] = "User Announcements";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body class="announcement-background"></body>
<h1 class="title-styling">@ViewData["Title"]
    <button id="myBtn">i</button>

</h1>
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Welcome to our user announcement page! From here, you can see your latest user announcement, go to create your own user announcement,
            and go opt in or out of receiving user announcements.</p>

    </div>
</div>

<div class="section-gap"></div>
@if (User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("UserAnnouncementCreate", "Home")" class="ui button primary">Create User Announcement</a>
}
<a href="@Url.Action("Announcement", "Home")" class="ui button primary">Check Admin Announcements</a>
<a href="@Url.Action("optInConfirmation", "Home")" class="ui button secondary">OptIn/Out</a>

<div class="section-gap"></div>

@Html.Partial("~/Views/Announcements/_UserAnnouncementForm.cshtml")

@section Scripts {
    <script src="~/js/userAnnouncementForm.js"></script>
    <script src="~/js/modalswitcher.js"></script>

}
